<div class="container text-center">
    
  <h1>Ask your coach</h1>
  <p>You got a question?</p>

  <form action="/answer" method"post">
    <input type="text" name="question", placeholder="What?">
    <input type="submit" value="I dare you...">
  </form>

</div>
