// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgb(250, 250, 250);
}
p {
  font-weight: lighter;
}
.card {
  width: 50vw;
}
